<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> It's Just a Story</title>
  </head>
  <body>
    <nav>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </nav>
    <h1> { username } </h1>
    <p> { bio } </p>
    <table>
      <tr><th>Title</th><th>Link</th></tr>
      {% for item in dict %}
        <tr><td>{{ dict[item][0] }}</td><td><a href={{dict[item][1]}} target="_blank">{{ dict[item][1] }}</a></td></tr>
      {% endfor %}
    </table>
  </body>
</html>
